* {
    margin: 0 ;
    padding:0;

}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200px;
    

    
    margin:(20,50,20,50);
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-bottom: 30px;


}

.navbar__s1 img {
    width: 200px;

}

.navbar__s2 {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}

.navbar__s3 {
    display: flex;
    padding: 10px;
    gap: 20px;
    
    
    
}
.navbar__s3 button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 0%;
    position: relative;
    bottom: 10px;
    
}

.navbar__s3 img {
    width: 20px;
    border-radius: 60px;
    height: 20px;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 60px;
}

.recommended__title {
    font-size: 22px;
}

.recommended p {
    color: grey;
}

.recommended__container {
    
 position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 40px;
    gap: 20px;
    padding-bottom: 50px;
}





.course-card,.section-7__card,.section-6__card {
    position: relative;
    
    border: none;
}

.course-card img {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    display: inline-block;
    border-radius: 20px
    


    

}



.course-card__desc {

    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    object-fit: cover;
    color: white;
    bottom: 1px;
    border-radius: 0 0 20px 20px;

}

.section-2 {

    display: flex;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    
    
}
.section-2 div {
    display: flex;
    margin: 10px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}

.section-2 div img {
    width: 25px;  
    height: 25px;
    margin-bottom: 5px;
    
}

.section-2 div p {
    font-size: 16px;
    font-weight: bold;
}

.section-2 div :hover{
    border-bottom: solid black 2px;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid lightgray 2px;
    width: 60%;
    margin: auto;
    border-radius: 40px;
    position: relative;
    margin-bottom: 40px;
    
}
.search input{
border: none;
outline: none;
position: absolute;
left: 28px;
border: none;
width: 60%;
font-size: 18px;
}


.search i{
    position: absolute;
    left: 10px;
}
.search button{
    
    background-color:#34E0A1;
    border-radius: 40px;
    text-align: end;
    padding: 15px;
    border: none;
    position: absolute;
    right: 10px;
    font-size: 18px;
}


.section-3{ 
    position: relative;

}
.section-3 h1{
    text-align: left;
}
.section-3 img {
    width: 100%;
    border-radius: 20px;
    height: 600px;
}
.section-3__desc{
    position: absolute;
    color: white;
    top: 25%;
    left: 10%;
    width: 50%;
    cursor: pointer;
}
.section-3 p1{
    color: black;
    background-color: white;
    padding: 10px;
    border: 50px;
    border-radius: 20PX;
}



.section-4__card img {
    width: 90%;
    height: 80%;
    border-radius: 20px;
    gap: 20px;
    justify-content: space-between;

    display: flex;
    position: relative;
    display: inline-block;

}

.section-4 {
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
    padding-bottom: 50px;
    margin-bottom: 30px;
    font-weight:bold;

    
}

.section-4 p{
    width: 90%;
}
.section-5{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 20px;
    gap: 20px;
    padding-bottom: 50px;
}
.section-5__card img{
    width: 100%;
    height: 80%;
    display: flex;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    
}
.section-5 p{
    font-size: medium;
    font-weight: 600;
    width: 80%;
    text-align: center;
    justify-content:space-between;
    padding-left: 40px;
}
.section-6,.section-7{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 40px;
    gap: 20px;
    padding-bottom: 50px;
}
.section-6__card img{
width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    display: inline-block;
    border-radius: 20px
}
.section-7__card img{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    

}
.footer{
    background: rgba(163, 160, 160, 0.1);
    padding: 20px;
    gap: 20px;
}
.footer__one{
    display: flex;
    
    padding: 20px;
}
.footer__one p{
    display: flex;
    
    padding: 10px;
}
.footer-bottom{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    
} 
.footer__one__s3,.footer__one__s2{
    padding-left: 30px;
}
.footer__one__s4{
    position: relative;
    left: 20%;
}








.section-8 button{
padding: 12px;
border-radius: 25px;
background-color: black;
color: white;
font-weight: bold;
}
.section-8{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: lightgrey;
    padding: 20px;
    margin: 20px;
}
.section-8__desc{
    width: 30%;
    padding: 2%;
    position: absolute;
    top: 20%;
    right: 10px;
}
.section-8 img{
    width: 50%;
}

.navbar,.search,.section-2{
    position: sticky;
    top: 10px;
    left:10px;
    background-color: white;
}






@media screen and (max-width:800px) {
  body{
    font-size: 10px;

  }  
} 
@media screen and (max-width:600px) {
    .course-card{
        flex-basis: 40%
        ;
    }
    
}
